@{
    ViewData["Title"] = "Image Smart AI";
}

<style>
    .uploaded-images-container img {
        max-width: 150px;
        max-height: 150px;
        border: 1px solid #ddd;
        padding: 5px;
        background: #fff;
        cursor: pointer; /* Change cursor to pointer to indicate clickable images */
    }
</style>


<div class="container-md">

    <h2>Upload Image</h2>

    <form id="uploadForm" method="post" enctype="multipart/form-data">
        <div>
            <label for="file">Upload Image:</label>
            <input type="file" name="file" id="file" onchange="previewFile()" />
        </div>
        <div>
            <img id="file-preview" src="#" alt="Image Preview" style="display: none; max-width: 300px; max-height: 300px;" />
        </div>
        <button type="submit">Upload</button>
    </form>
    @if (ViewBag.Message != null)
    {
        <p>@ViewBag.Message</p>
    }

    <div id="uploadedImageDiv" style="margin-top:20px;">
        <h3>Uploaded Images</h3>
        <div class="uploaded-images-container d-flex gap-3 flex-wrap" id="uploadedImagesContainer">
            <!-- Uploaded images will be appended here -->
        </div>
    </div>

    <div>
        Please select an Image to make a prediction of it
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            function previewFile() {
                const preview = document.getElementById('file-preview');
                const file = document.getElementById('file').files[0];
                const reader = new FileReader();

                reader.addEventListener("load", function () {
                    // Convert image file to base64 string
                    preview.src = reader.result;
                    preview.style.display = 'block';
                }, false);

                if (file) {
                    reader.readAsDataURL(file);
                }
            }

            // Bind the previewFile function to the global window object so it can be called from inline HTML
            window.previewFile = previewFile;
        });

        // AJAX form submission for image upload
        $('#uploadForm').on('submit', function (e) {
            e.preventDefault();
            var formData = new FormData(this);

            $.ajax({
                url: '/Chef/UploadImage',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        $('#file-preview').hide();
                        appendUploadedImages(response.uploadedImages);
                    } else {
                        alert('File upload failed');
                    }
                },
                error: function (xhr, status, error) {
                    var errorMessage = xhr.status + ': ' + xhr.statusText;
                    alert('Error - ' + errorMessage);
                }
            });
        });

        function appendUploadedImages(images) {
            const container = $('#uploadedImagesContainer');
            container.empty();
            images.forEach(function (image) {
                let imageTitle = image.replace("/uploads\\", "");
                const imgElem = $('<img>').attr('src', image)
                    // .attr('alt', 'Uploaded Image')
                    // .attr('width', '200px')
                    // .attr('height', '200px')
                    .attr('onclick', `doSomethingToImage('${image}')`)
                    // .attr('style', 'cursor:pointer;')
                    .attr('title', `${imageTitle}`);
                container.append(imgElem);
            });
        }

        // On document ready, load the uploaded images from session
        $.get('/Chef/GetUploadedImages', function (data) {
            if (data.success) {
                appendUploadedImages(data.uploadedImages);
            }
        });

        function doSomethingToImage(url) {
            // Implement your functionality here
            alert("You clicked on: " + url);
        }
    </script>
}