@using SmileChef.Controllers;
@*ChefController.Index*@
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Animal> animals = new List<Animal>();
    animals.Add(new Animal() { Id = 1, Name = "Lion" });
    animals.Add(new Animal() { Id = 2, Name = "Tiger" });
    animals.Add(new Animal() { Id = 3, Name = "Cheetah" });
}



<div class="container-md">
    <div class="row gap-4 gap-md-2 justify-content-md-center gap-lg-4 justify-content-lg-between">
        @for(int i = 0; i < 12; i++)
        {
            <div class="col-md-4 col-lg-3 card text-center">
                <div class="card-header">
                    Header @i
                </div>
                <div class="card-body">
                    Something about the card no.@i.....
                </div>
                <div class="card-footer">
                    rights reserved @i
                </div>
            </div>
        }
    </div>
</div>
<div class="container-md mt-3">
    <button id="btnShowAnimal">Show Animal</button>
    <button id="btnGetAnimal">GetAnimal</button>
    <h3 class="mt-1">Animals will be shown below</h3>
    <div id="animalsContainer">
        @await Html.PartialAsync("_DisplayAnimals", animals)
    </div>

    <h2 class="mt-1">Each animal will be shown here...</h2>
    <div id="eachAnimalDetail">

    </div>

    <h3 class="mt-2">The Get ANimal will be show below</h3>
    <div id="getAnimalContainer">

    </div>
</div>
@section Scripts{
    <script>

        $(document).ready(() => {
            $('.aniName').css('background-color', '#f12 !important');
        });

        $(document).on('click', 'li.aniName', function () {
            alert($(this).text());
        });

        $(document).on('hover', 'li.aniName', function () {
            $('li.aniName').css('cursor', 'pointer');
        });



        $('#btnShowAnimal').click(() => {
            var dataObj = {
                animalName: "Jackson",
                listOfNumbers: [
                    5, 1005
                ],
                user: {
                    name : "Randolf",
                    listOfContacts : [123,444,555]
                }
            };

            $.ajax({
                type:"POST",
                // url: '@Url.Action("DisplayAnimals", "Test")',
                url: '/tests/animals',
                //data: JSON.stringify({ someValue : "Hello World", givenAge : 55}),
                data: JSON.stringify(dataObj),
                contentType: "application/json", // This needs to be set correctly
                dataType: "html", // or "json" depending on what response you expect
                success: function(response){
                    $('#animalsContainer').html(response);
                },
                error: function (error) {
                    Swal.fire({
                        title: "Error Occurred",
                        text: error,
                        icon: "error"
                    });
                }            
            });
        });

        $('#btnGetAnimal').click(() => {
            var data = {
                animalName: "Jackson",
                listOfNumbers: [
                    5, 1005,50000
                ]
            };

            $.ajax({
                type: "GET",
                //url: '/tests/animals/5?' + $.param(data, true), // Automatically serializing the data object including arrays
                url : '/tests/animals/5',
                data : $.param(data,true),
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    //$('#getAnimalContainer').html(response);
                    // $('#getAnimalContainer').html('<h3>Header: ' + response.Header + '</h3><p>Paragraph: ' + response.Paragraph + '</p><p>Message: ' + response.Message + '</p>');
                    $('#getAnimalContainer').html('<h3>Header: ' + response.header + '</h3><p>Paragraph: ' + response.paragraph + '</p><p>Message: ' + response.message + '</p>');
                },
                error: function (xhr, status, error) {
                    var errorMessage = xhr.status + ': ' + xhr.statusText;
                    console.log('Error - ' + errorMessage);
                    Swal.fire({
                        title: "Error Occurred",
                        text: errorMessage,
                        icon: "error"
                    });
                }
            });
        });
    </script>
}