@using ChefApp.Models.DbModels
@using SmileChef.Models.DbModels
@using SmileChef.ViewModels
@model List<Recipe>

@{

}



<div class="row mb-3 mt-2">
    <div class="col-md-3 mb-2 mb-md-0">
        @Html.DropDownList("SelectRecipeType", new List<SelectListItem>()
        {
                    new SelectListItem(){Text = "Basic", Value="Basic"},
                    new SelectListItem(){Text = "Premium", Value="Premium"}
        }, "Filter By Recipe Type", new {@class="form-select", @onchange="onRecipeTypeChanged(this)"})
    </div>
    <div class="col-md-5 d-flex gap-2">
        <input id="tbSearchRecipeName" class="form-control" type="search" placeholder="Search by Recipe Name" aria-label="Search" oninput="onSearchRecipeName(this)">
    </div>
</div>

<div class="row gy-3 justify-content-center" id="recipeListContainer">
    @{
        await Html.RenderPartialAsync("_RecipeMarketListPartial", Model);
    }
</div>

@section Scripts{
    <script>

        // #region GLOBAL VARIABLES
        let debounceTimeout = null;
        // #endregion

        function onRecipeTypeChanged(selection) {
            let recipeType = $(selection).val();
            $.ajax({
                type: "GET",
                url: '@Url.Action("FilterRecipeMartetByRecipeType")',
                data: { recipeType: recipeType },
                dataType : "html",
                contentType : "application/x-www-form-urlencoded; charset=UTF-8;",
                success: function (response) {
                    $('#recipeListContainer').empty().html(response);
                    Swal.fire({
                        title: "",
                        text: "Recipes have been filtered successfully",
                        icon: "success"
                    })
                },
                error: function (xhr, status, error) {
                    var errorMessage = xhr.status + ': ' + xhr.statusText;
                    console.log('Error - ' + errorMessage);
                    Swal.fire({
                        title: "Error Occurred",
                        text: errorMessage,
                        icon: "error"
                    });
                }
            });
        }

        function onSearchRecipeName(input) {
            // Using debouncer to restrict the frequency of the call made to the server on every input change
            clearTimeout(debounceTimeout);
            debounceTimeout = setTimeout(function () {
                let searchValue = $(input).val();
                console.log(`Search Value: ${searchValue}`)
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("FilterRecipeMartetByRecipeName")',
                    data: { searchedRecipeName: searchValue },
                    dataType: "html",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8;",
                    success: function (response) {
                        $('#recipeListContainer').empty().html(response);
                        // Swal.fire({
                        //     title: "",
                        //     text: "Recipes have been filtered successfully",
                        //     icon: "success"
                        // })
                    },
                    error: function (xhr, status, error) {
                        var errorMessage = xhr.status + ': ' + xhr.statusText;
                        console.log('Error - ' + errorMessage);
                        Swal.fire({
                            title: "Error Occurred",
                            text: errorMessage,
                            icon: "error"
                        });
                    }
                });     
            }, 500);
        }

        $(document).ready(function () {
            console.log("Page loaded ViewRecipeMarket.cshtml")
        });
    </script>
}