@model SmileChef.Models.PredictRecipeViewModel

@if (Model.PredictedRecipe != null)
{
@*     <div class="alert alert-success mt-1">
        <strong>Predicted Recipe:</strong> @Model.PredictedRecipe
    </div> *@
    <div class="alert alert-warning alert-dismissible fade show mt-2 col" role="alert">
        <strong>Ingredients:</strong> @Model.Ingredients <br />
        <strong>Predicted Recipe:</strong> @Model.PredictedRecipe
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}