@using SmileChef.Models.DbModels;
@using SmileChef.ViewModels;
@model List<Review>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<ul class="list-unstyled">
    @if (Model.Count == 0)
    {
        <li>No Reviews posted yet...</li>
    }
    else
    {
        foreach(var review in Model)
        {
            <li class="border-bottom pt-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column">
                        <h6>@review.Reviewer.FirstName @review.Reviewer.LastName</h6>
                        <p>@review.Message</p>
                    </div>
                    <div><b class="small">@string.Format("{0} {1}", review.ReviewDate.ToString("d"), review.ReviewDate.ToString("t"))</b></div>
                </div>
            </li>
        }
    }
</ul>