@using SmileChef.Models.DbModels
@model User

@{
    Layout = "_LayoutAdmin";
}

<div>
    <p class="lead fs-4 ">Logged in: <i class="fw-normal">@Model.Email</i></p>
    <p class="lead fs-5">Date: <i class="fw-normal">@(DateTime.Now.ToString("d"))</i></p>
    <p class="lead fs-5">Time: <i class="fw-normal">@(DateTime.Now.ToString("t")</i></p>
</div>
